#login
{
    align-content: center;
    width: 30%;
    border: 2px solid lightgray;
    padding: 15px;
}

h2{
    text-align: center;
    
}

#submit-btn
{
    width: 100%;
}

.error-msg
{
    color: red;
}