<br /><br />
<div id="login" class="container">
    <h2>Login</h2><hr />
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="form-group">
            <input placeholder="Email" type="text" class="form-control" formControlName="emailId" />
            <div class="error-msg" *ngIf="loginForm.get('emailId').touched && loginForm.get('emailId').errors?.required">Email id required</div>
            <div class="error-msg" *ngIf="loginForm.get('emailId').touched && loginForm.get('emailId').errors?.pattern">Invalid email</div>
        </div>
        <div class="form-group">
            <input placeholder="Password" type="password" class="form-control" formControlName="password" />
            <div class="error-msg" *ngIf="loginForm.get('password').touched && loginForm.get('password').errors?.required">Password required</div>
        </div>

        <div><input id="submit-btn" class="btn btn-dark" type="submit" value="Submit" [disabled]="!loginForm.valid" /></div>
        <p-toast position="bottom-right" ></p-toast>
    </form>
</div>
<br /><br /><br /><br /><br /><br /><br />
